.first_image_wrap {
  background-image: url(../assets/business-partnership.jpg);
  width: 300px;
  height: 230px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.secondImage_wrap {
  background-image: url(../assets/main_Second.jpg);
  width: 300px;
  height: 230px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

